.custRow1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #eeeeee;
    margin: 10px auto;
    border-radius: 5px;
    text-decoration: none!important;
    color: black!important;
    border-left: 5px solid transparent;
}
.custRow1:hover {
    border-left: 5px solid blue;
}
.custRow1 p {
    font-size: 20px;
    margin: auto;
    padding: 10px 0px;
}
.custRow1 p:nth-child(1) {
    width: 10%;
}
.custRow1 p:nth-child(2) {
    width: 20%;
}
.custRow1 p:nth-child(3) {
    width: 25%;
}
.custRow1 p:nth-child(4) {
    width: 20%;
}
.custRow1 p:nth-child(5) {
    width: 25%;
}

@media (max-width :500px) {
    .custRow1 p {
        font-size: 12px;
    }
    .custRow1 p:nth-child(1) {
        width: 8%;
    }
    .custRow1 p:nth-child(2) {
        width: 16%;
    }
    .custRow1 p:nth-child(3) {
        width: 31%;
    }
    .custRow1 p:nth-child(4) {
        width: 25%;
    }
    .custRow1 p:nth-child(5) {
        width: 20%;
    }
}